<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <main>
      <h1>Welcome to the <%= title %></h1>
      <p>This is the homepage for the Biodiversity Lab.</p>
      <a href="/projects">View Projects</a>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
